# permissions for end users to edit passwords.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: password-operator
    app.kubernetes.io/managed-by: kustomize
  name: password-editor-role
rules:
- apiGroups:
  - secret.example.com
  resources:
  - passwords
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - secret.example.com
  resources:
  - passwords/status
  verbs:
  - get
